.sign-in-container {
    background: linear-gradient(269.01deg, #5DB0DF 2.31%, #5D7ADF 98.33%);
    height: 100vh;
}

.sign-in-div {
    width: 40%;
    height: fit-content;
    background-color: #E5E5E5;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 1rem;
}

.welcome-text {
    color: #5E81E0;
    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
    margin: auto;
}

.sign-in-div .p-inputtext,
.sign-in-div .p-button,
.sign-in-div .p-password {
    width: 100%;
}

.sign-in-div .p-inputtext {
    background: #FFFFFF !important;
    border: 2px solid #858585 !important;
    box-sizing: border-box !important;
    border-radius: 8px !important;
    padding: 10px !important;
}

.sign-in-div .p-button {
    background: #5E81E0 !important;
    border-radius: 8px !important;
    padding: 15px !important;
    font-weight: bold !important;
    font-size: 24px !important;
}

.form-text {
    color: #7B7B7B !important;
    font-weight: bold;
    font-size: 18px;
}
