.sign-in-container {
    background: linear-gradient(269.01deg, #5DB0DF 2.31%, #5D7ADF 98.33%);
    height: 100vh;
}

.sign-in-div {
    width: 40%;
    height: 30%;
    background-color: #E5E5E5;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 1rem;
}

.welcome-text {
    color: #5E81E0;
    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
}